<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.finance.mapper.endhandle.TGlExchangeFlexEntryMapper">

    <resultMap type="com.skeqi.finance.domain.endhandle.TGlExchangeFlexEntry" id="TGlExchangeFlexEntryResult">
        <result property="fEntryId" column="f_entry_id"/>
        <result property="fId" column="f_id"/>
        <result property="fFlexId" column="f_flex_id"/>
        <result property="fFlexValue" column="f_flex_value"/>
        <result property="fFlexName" column="f_flex_name"/>
    </resultMap>


    <delete id="deleteByFId">
        delete from t_gl_exchange_flex_entry where  f_id=#{fid}
    </delete>
</mapper>
