<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.finance.mapper.endhandle.TGlPlschemeMapper">

    <resultMap type="com.skeqi.finance.domain.endhandle.TGlPlscheme" id="TGlPlschemeResult">
        <result property="fId" column="f_id"/>
        <result property="fNumber" column="f_number"/>
        <result property="fExplanation" column="f_explanation"/>
        <result property="fDescription" column="f_description"/>
        <result property="fAccountBookId" column="f_account_book_id"/>
        <result property="fGenerateType" column="f_generate_type"/>
        <result property="fOperatorId" column="f_operator_id"/>
        <result property="fFrequency" column="f_frequency"/>
        <result property="fGenerateDay" column="f_generate_day"/>
        <result property="fGenerateHour" column="f_generate_hour"/>
        <result property="fGenerateMinute" column="f_generate_minute"/>
        <result property="fName" column="f_name"/>
        <result property="fLastExecuteTime" column="f_last_execute_time"/>
        <result property="fDocumentStatus" column="f_document_status"/>
        <result property="fForbidStatus" column="f_forbid_status"/>
        <result property="fForbiderId" column="f_forbider_id"/>
        <result property="fForbidDate" column="f_forbid_date"/>
        <result property="fCreatorId" column="f_creator_id"/>
        <result property="fCreatorDate" column="f_creator_date"/>
        <result property="fModifierId" column="f_modifier_id"/>
        <result property="fModifyDate" column="f_modify_date"/>
        <result property="fVchgroupId" column="f_vchgroup_id"/>
        <result property="fVoucherDateType" column="f_voucher_date_type"/>
        <result property="fTransferType" column="f_transfer_type"/>
        <result property="fVoucherType" column="f_voucher_type"/>
        <result property="fPlvchProcessType" column="f_plvch_process_type"/>
        <result property="fResultVchProcessType" column="f_result_vch_process_type"/>
        <result property="fIsAcctDc" column="f_is_acct_dc"/>
        <result property="fIsConnectUnit" column="f_is_connect_unit"/>
        <result property="fIsMergeplAcct" column="f_is_mergepl_acct"/>
        <result property="fFlexItem" column="f_flex_item"/>
        <result property="fAcctChoseType" column="f_acct_chose_type"/>
        <result property="fIsDraftVoucher" column="f_is_draft_voucher"/>
        <result property="fAccountId" column="f_account_id"/>
        <result property="fDc" column="f_dc"/>
    </resultMap>

    <select id="getInfoById" resultType="com.skeqi.finance.pojo.vo.endhandle.TGlPlschemeVo">
       SELECT
            p.*,
            a.f_name AS acct_name,
            a.f_number AS acct_number ,
            g.f_voucher_words,
            b.f_number as book_number,
            b.f_book_name as book_name,
            o.name as org_name
        FROM
            t_gl_plscheme p
            LEFT JOIN t_bd_account a ON a.f_acct_id = p.f_account_id
            LEFT JOIN t_bd_voucher_group g ON g.f_vchgroup_id = p.f_vchgroup_id
            LEFT JOIN t_bd_account_book b ON b.f_book_id = p.f_account_book_id
            LEFT JOIN sys_organization o ON o.id= b.f_account_orgid
        where p.f_id=#{id}

    </select>

    <select id="queryPageList" resultType="com.skeqi.finance.pojo.vo.endhandle.TGlPlschemeVo">

     SELECT
            p.*,
            a.f_name AS acct_name,
            a.f_number AS acct_number ,
            g.f_voucher_words,
            b.f_number as book_number,
            b.f_book_name as book_name
        FROM
            t_gl_plscheme p
            LEFT JOIN t_bd_account a ON a.f_acct_id = p.f_account_id
            LEFT JOIN t_bd_voucher_group g ON g.f_vchgroup_id = p.f_vchgroup_id
            LEFT JOIN t_bd_account_book b ON b.f_book_id = p.f_account_book_id
        <where>
            <if test="bo.fIsadjustVoucher!=null and bo.fIsadjustVoucher !=''">
                and p.f_isadjust_voucher = #{bo.fIsadjustVoucher,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
