<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.yp.wms.other.OtherWmsCrmProjectDao">

	<!-- 查询所有Crm项目 -->
	<select id="findAll" resultType="com.alibaba.fastjson.JSONObject">
		select id,PROJECT_NAME as projectName from c_crm_project_basic_info
	</select>


</mapper>
