<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.wf.CMesMaterialMappingMapper">
  <resultMap id="BaseResultMap" type="com.skeqi.mes.pojo.wf.CMesMaterialMapping">
    <!--@mbg.generated-->
    <!--@Table c_mes_material_batch_mapping-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="supplier_batch" jdbcType="VARCHAR" property="supplierBatch" />
    <result column="batch" jdbcType="VARCHAR" property="batch" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, supplier_name, supplier_material_code,material_code, supplier_batch, batch
  </sql>
  <select id="findMaterialBatchMapping" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from c_mes_material_batch_mapping
    <where>
      <if test="supplierName != null and supplierName != ''">
        supplier_name LIKE CONCAT('%',#{supplierName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>

  <select id="selectBatchMapping" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from c_mes_material_batch_mapping
    <where>
      <if test="supplierMaterialCode != null and supplierMaterialCode != ''">
        supplier_material_code = #{supplierMaterialCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierBatch != null and supplierBatch != ''">
        or supplier_batch = #{supplierBatch,jdbcType=VARCHAR}
      </if>
      <if test="batch != null and batch != ''">
        or batch = #{batch,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <insert id="addBatchMapping">
    insert into
    <trim prefix="c_mes_material_batch_mapping(" suffix=")" suffixOverrides=",">
      <if test="supplierName != null and supplierName != ''">
        supplier_name,
      </if>
      <if test="supplierMaterialCode != null and supplierMaterialCode != ''">
        supplier_material_code,
      </if>
      <if test="materialCode != null and materialCode != ''">
        material_code,
      </if>
      <if test="supplierBatch != null and supplierBatch != ''">
        supplier_batch,
      </if>
      <if test="batch != null and batch != ''">
        batch
      </if>
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides=",">
      <if test="supplierName != null and supplierName != ''">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierMaterialCode != null and supplierMaterialCode != ''">
        #{supplierMaterialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialCode != null and materialCode != ''">
        #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierBatch != null and supplierBatch != ''">
        #{supplierBatch,jdbcType=VARCHAR},
      </if>
      <if test="batch != null and batch != ''">
        #{batch,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>

  <insert id="addBatchsMapping">
    insert into
    <trim prefix="c_mes_material_batch_mapping(" suffix=")" suffixOverrides=",">
      <if test="list != null and list.size() != 0">
        supplier_name,
        supplier_material_code,
        material_code,
        supplier_batch,
        batch
      </if>
    </trim>
    value
    <foreach collection="list" item="it" separator=",">
       (
      #{it.supplier_name,jdbcType=VARCHAR},
      #{it.supplier_material_code,jdbcType=VARCHAR},
      #{it.material_code,jdbcType=VARCHAR},
      #{it.supplier_batch,jdbcType=VARCHAR},
      #{it.batch,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
</mapper>
