<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.wms.InventoryDao">

	<select id="findInventory" resultType="com.skeqi.mes.pojo.wms.InventoryT">
		select * from c_wms_inventory_t
		where 1 = 1
		<if test="id != null and id != ''">
			AND ID = #{id}
		</if>
		<if test="listNo != null and listNo != ''">
			AND LIST_NO = #{listNo}
		</if>
		<if test="dt != null and dt != ''">
			AND DT = #{dt}
		</if>
		<if test="userId != null and userId != ''">
			AND USER_ID = #{userId}
		</if>
		<if test="state != null and state != ''">
			AND STATE = #{state}
		</if>
		<if test="dis != null and dis != ''">
			AND DIS = #{dis}
		</if>
		ORDER BY ID
	</select>

	<insert id="addInventory">
		insert into c_wms_inventory_t(
		LIST_NO,DT,USER_ID,DIS,STATE)
		values(
		${listNo},now(),${userId},${dis},${state})
	</insert>

	<delete id="deleteInventory">
		delete from c_wms_inventory_t
		where id = #{inventoryId}
	</delete>

	<update id="updateInventory">
		update c_wms_inventory_t
		<trim prefix="SET" suffixOverrides=",">  
			<if test="listNo != null">
				LIST_NO = #{listNo},
        	</if>
			<if test="userId != null">
   				USER_ID = #{userId},
        	</if>
			<if test="state != null">
   				STATE = #{state},
        	</if>
			<if test="dis != null">
   				DIS = #{dis},
        	</if>
        </trim>  
		where ID = #{id}
	</update>

</mapper>
