<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.wms.WarehousingDao">

	<resultMap type="com.skeqi.mes.pojo.wms.CWmsMaterialNumberT" id="numberMap">
		<result column="ID" property="id" />
		<result column="MATERIAL_NO" property="materialNo" />
		<result column="MATERIAL_NAME" property="materialName" />
		<result column="MATERIAL_NUMBER" property="materialNumber" />
		<result column="PROJECT_ID" property="projectId" />
		<result column="MATERIAL_ID" property="materialId" />
		<result column="WAREHOUSE_ID" property="wareHouseId" />
		<result column="AREA_ID" property="areaId" />
		<result column="LOCATION_ID" property="locationId" />
		<result column="RESERVOIR_AREA_ID" property="reservoirareaId" />
		<result column="LMMINENT_RELEASE" property="lmminentRelease" />
		<result column="DT" property="dt" />
		<result column="FREEZING_NUMBER" property="freezingNumber" />
		<result column="RESERVED_NUMBER" property="reservedNumber" />
		<result column="TRAY" property="tray" />
		<association property="material" javaType="com.skeqi.mes.pojo.CMesJlMaterialT">
			<result column="MATERIAL_NAME" property="materialName" />
		</association>
		<association property="project" javaType="com.skeqi.mes.pojo.wms.CWmsProject">
			<result column="PROJECT_NAME" property="projectName" />
		</association>
		<association property="materialUnit"
			javaType="com.skeqi.mes.pojo.wms.CWmsMaterialUnitT">
			<result column="UNIT_NAME" property="unitName" />
		</association>
		<association property="materialType"
			javaType="com.skeqi.mes.pojo.wms.CWmsMaterialTypeT">
			<result column="MT_NAME" property="mtName" />
		</association>
		<association property="warehouse" javaType="com.skeqi.mes.pojo.wms.WarehouseT">
			<result column="WAREHOUSE_NAME" property="name" />
		</association>
		<association property="area" javaType="com.skeqi.mes.pojo.wms.CWmsAreaT">
			<result column="AREA_NAME" property="areaName" />
		</association>
		<association property="reservoirArea"
			javaType="com.skeqi.mes.pojo.wms.CWmsReservoirAreaT">
			<result column="RA_NAME" property="raName" />
		</association>
		<association property="location" javaType="com.skeqi.mes.pojo.wms.CWmsLocationT">
			<result column="LOCATION_NAME" property="locationName" />
		</association>
	</resultMap>

	<select id="findMaterialNumberList" resultMap="numberMap">
		select
		NUMBER.*,MATERIAL.MATERIAL_NAME,PROJECT.PROJECT_NAME,WAREHOUSE.`NAME`
		AS
		WAREHOUSE_NAME,AREA.AREA_NAME,reservoir.RA_NAME,LOCATION.LOCATION_NAME
		from c_wms_material_number_t NUMBER
		JOIN c_mes_jl_material_t MATERIAL
		ON NUMBER.MATERIAL_ID = MATERIAL.ID
		JOIN c_wms_project_t PROJECT ON
		NUMBER.PROJECT_ID = PROJECT.ID
		JOIN c_wms_warehouse_t WAREHOUSE ON
		NUMBER.WAREHOUSE_ID = WAREHOUSE.ID
		JOIN c_wms_area_t AREA ON
		NUMBER.AREA_ID = AREA.ID
		JOIN c_wms_reservoir_area_t reservoir ON
		NUMBER.RESERVOIR_AREA_ID = reservoir.ID
		JOIN c_wms_location_t LOCATION
		ON NUMBER.LOCATION_ID = LOCATION.ID
		where 1 = 1
		<if test="id != null and id != ''">
			AND NUMBER.ID = #{id}
		</if>
		<if test="materialNumberId != null and materialNumberId != ''">
			AND NUMBER.ID = #{materialNumberId}
		</if>
		<if test="materialNo != null and materialNo != ''">
			AND NUMBER.MATERIAL_NO = #{materialNo}
		</if>
		<if test="materialName != null and materialName != ''">
			AND NUMBER.MATERIAL_NAME like '%${materialName}%'
		</if>
		<if test="materialNumber != null and materialNumber != ''">
			AND NUMBER.MATERIAL_NUMBER = #{materialNumber}
		</if>
		<if test="projectId != null and projectId != ''">
			AND NUMBER.PROJECT_ID = #{projectId}
		</if>
		<if test="materialId != null and materialId != ''">
			AND NUMBER.MATERIAL_ID = #{materialId}
		</if>
		<if test="wareHouseId != null and wareHouseId != ''">
			AND NUMBER.WAREHOUSE_ID = #{wareHouseId}
		</if>
		<if test="areaId != null and areaId != ''">
			AND NUMBER.AREA_ID = #{areaId}
		</if>
		<if test="locationId != null and locationId != ''">
			AND NUMBER.LOCATION_ID = #{locationId}
		</if>
		<if test="reservoirareaId != null and reservoirareaId != ''">
			AND NUMBER.RESERVOIR_AREA_ID = #{reservoirareaId}
		</if>
		<if test="lmminentRelease != null and lmminentRelease != ''">
			AND NUMBER.LMMINENT_RELEASE = #{lmminentRelease}
		</if>
		<if
			test="ksDate != null and ksDate != '' and jsDate != null and jsDate != ''">
			AND NUMBER.DT BETWEEN #{ksDate} AND #{jsDate}
		</if>
		<if test="freezingNumber != null and freezingNumber != ''">
			AND NUMBER.FREEZING_NUMBER = #{freezingNumber}
		</if>
		<if test="reservedNumber != null and reservedNumber != ''">
			AND NUMBER.RESERVED_NUMBER = #{reservedNumber}
		</if>
		<if test="tray != null and tray != ''">
			AND NUMBER.TRAY like '%${tray}%'
		</if>
		ORDER BY NUMBER.dt DESC
	</select>

	<insert id="addStorageDetail">
		insert into r_wms_storage_detail_t(
		DT,MATERIAL_ID,MATERIAL_NUMBER,MATERIAL_CODE,
		AREA_ID,RESERVOIR_AREA_ID,LOCATION_ID,NOTE,
		LIST_NO,PROJECT_ID,SUPPLIER_ID,TRAY,
		WAREHOUSE_ID,YN_SHIFT,ISSUE_OR_RECEIPT,STATION_ID)
		values(
		now(),#{materialId},#{materialNumber},#{materialCode},
		#{areaId},#{reservoirAreaId},#{locationId},#{note},
		#{listNo},#{projectId},#{supplierId},#{tray},
		#{warehouseId},#{ynShift},#{issueOrReceipt},#{stationId})
	</insert>

	<resultMap type="com.skeqi.mes.pojo.wms.CWmsStorageDetailT" id="storageMap">
		<result column="ID" property="id" />
		<result column="DT" property="dt" />
		<result column="MATERIAL_ID" property="materialId" />
		<result column="MATERIAL_NUMBER" property="materialNumber" />
		<result column="MATERIAL_CODE" property="materialCode" />
		<result column="AREA_ID" property="areaId" />
		<result column="RESERVOIR_AREA_ID" property="reservoirAreaId" />
		<result column="LOCATION_ID" property="locationId" />
		<result column="NOTE" property="note" />
		<result column="LIST_NO" property="listNo" />
		<result column="PROJECT_ID" property="projectId" />
		<result column="SUPPLIER_ID" property="supplierId" />
		<result column="TRAY" property="tray" />
		<result column="WAREHOUSE_ID" property="warehouseId" />
		<result column="YN_SHIFT" property="ynShift" />
		<result column="STATION_ID" property="stationId" />
		<result column="ISSUE_OR_RECEIPT" property="issueOrReceipt" />
		<association property="material" javaType="com.skeqi.mes.pojo.CMesJlMaterialT">
			<result column="BOM_ID" property="bomId" />
			<result column="MATERIAL_NAME" property="materialName" />
		</association>
		<association property="warehouse" javaType="com.skeqi.mes.pojo.wms.WarehouseT">
			<result column="W_NAME" property="name" />
		</association>
		<association property="area" javaType="com.skeqi.mes.pojo.wms.CWmsAreaT">
			<result column="AREA_NAME" property="areaName" />
		</association>
		<association property="reservoirArea"
			javaType="com.skeqi.mes.pojo.wms.CWmsReservoirAreaT">
			<result column="RA_NAME" property="raName" />
		</association>
		<association property="location" javaType="com.skeqi.mes.pojo.wms.CWmsLocationT">
			<result column="LOCATION_NAME" property="locationName" />
		</association>
		<association property="project" javaType="com.skeqi.mes.pojo.wms.CWmsProject">
			<result column="PROJECT_NAME" property="projectName" />
		</association>
	</resultMap>

	<select id="findStorageDetail" resultMap="storageMap">
		SELECT storage.*,material.MATERIAL_NAME,material.BOM_ID,warehouse.name
		as
		W_NAME,area.AREA_NAME,reservoir.RA_NAME,location.LOCATION_NAME,project.PROJECT_NAME
		FROM r_wms_storage_detail_t storage
		JOIN c_mes_jl_material_t material
		on storage.MATERIAL_ID = material.id
		JOIN c_wms_warehouse_t warehouse
		on storage.WAREHOUSE_ID = warehouse.ID
		Left JOIN c_wms_area_t area on
		storage.AREA_ID = area.id
		Left JOIN c_wms_reservoir_area_t reservoir on
		storage.RESERVOIR_AREA_ID = reservoir.id
		Left JOIN c_wms_location_t
		location on storage.LOCATION_ID = location.id
		JOIN c_wms_project_t
		project on storage.PROJECT_ID = project.id
		where 1 = 1
		<if test="id != null">
			AND storage.ID = #{id}
		</if>
		<if test="dt != null">
			AND storage.DT = #{dt}
		</if>
		<if test="materialId != null">
			AND storage.MATERIAL_ID = #{materialId}
		</if>
		<if test="materialNumber != null">
			AND storage.MATERIAL_NUMBER = #{materialNumber}
		</if>
		<if test="materialCode != null">
			AND storage.MATERIAL_CODE = #{materialCode}
		</if>
		<if test="areaId != null">
			AND storage.AREA_ID = #{areaId}
		</if>
		<if test="reservoirAreaId != null">
			AND storage.RESERVOIR_AREA_ID = #{reservoirAreaId}
		</if>
		<if test="locationId != null">
			AND storage.LOCTION_ID = #{locationId}
		</if>
		<if test="note != null">
			AND storage.NOTE = #{note}
		</if>
		<if test="listNo != null">
			AND storage.LIST_NO = #{listNo}
		</if>
		<if test="projectId != null">
			AND storage.PROJECT_ID = #{projectId}
		</if>
		<if test="supplierId != null">
			AND storage.SUPPLIER_ID = #{supplierId}
		</if>
		<if test="tray != null">
			AND storage.TRAY = #{tray}
		</if>
		<if test="warehouseId != null">
			AND storage.WAREHOUSE_ID = #{warehouseId}
		</if>
		<if test="ynShift != null">
			AND storage.YN_SHIFT = #{ynShift}
		</if>
		ORDER BY storage.ID
	</select>

	<insert id="addPStorageDetail">
		insert into p_wms_storage_detail_t(
		DT,MATERIAL_ID,MATERIAL_NUMBER,MATERIAL_CODE,
		AREA_ID,RESERVOIR_AREA_ID,LOCATION_ID,NOTE,
		LIST_NO,PROJECT_ID,SUPPLIER_ID,TRAY,
		WAREHOUSE_ID,YN_SHIFT,ISSUE_OR_RECEIPT,STATION_ID)
		values(
		now(),#{materialId},#{materialNumber},#{materialCode},
		#{areaId},#{reservoirAreaId},#{locationId},#{note},
		#{listNo},#{projectId},#{supplierId},#{tray},
		#{warehouseId},#{ynShift},#{issueOrReceipt},#{stationId})
	</insert>

	<delete id="deleteStorageDetail">
		delete from r_wms_storage_detail_t
		where id =
		#{approvalDetailsId}
	</delete>

	<select id="findProcessApproval" resultType="com.skeqi.mes.pojo.wms.ProcessApproval">
		select * from c_wms_process_approval_t
		where 1 = 1
		<if test="id != null">
			AND ID = #{id}
		</if>
		<if test="deptId != null">
			AND DEPT_ID = #{deptId}
		</if>
		<if test="roleId != null">
			AND ROLE_ID = #{roleId}
		</if>
		<if test="typeId != null">
			AND TYPE_ID = #{typeId}
		</if>
		<if test="dt != null">
			AND DT = #{dt}
		</if>
		<if test="dis != null">
			AND DIS = #{dis}
		</if>
		ORDER BY ID
	</select>

	<insert id="addApproval">
		insert into c_wms_approval_t(
		LIST_NO,DT,PROCESS_ID,USER_ID,STATE,NOTE)
		values(
		#{listNo},now(),#{processId},#{userId},#{state},#{note})
	</insert>

	<select id="findApprovalByListNo" resultType="com.skeqi.mes.pojo.wms.CWmsApprovalT">
		select * from
		c_wms_approval_t
		where LIST_NO = #{listNo}
	</select>

	<resultMap type="com.skeqi.mes.pojo.wms.CWmsApprovalT" id="approvalMap">
		<result column="ID" property="id" />
		<result column="LIST_NO" property="listNo" />
		<result column="DT" property="dt" />
		<result column="PROCESS_ID" property="processId" />
		<result column="USER_ID" property="userId" />
		<result column="STATE" property="state" />
		<result column="NOTE" property="note" />
		<association property="processType" javaType="com.skeqi.mes.pojo.wms.ProcessType">
			<result column="TYPE_ID" property="id" />
			<result column="PROCESS_TYPE" property="processType" />
		</association>
		<association property="user" javaType="com.skeqi.mes.pojo.CMesUserT">
			<result column="USER_NAME" property="userName" />
		</association>
		<association property="department" javaType="com.skeqi.mes.pojo.wms.CWmsDepartmentT">
			<result column="DM_NAME" property="dmName" />
		</association>
		<association property="approvalDetails"
			javaType="com.skeqi.mes.pojo.wms.CWmsApprovalDetailsT">
			<result column="details_id" property="id" />
			<result column="PRIORITY_LEVEL" property="priorityLevel" />
		</association>
	</resultMap>
	<select id="findApproval" resultMap="approvalMap">
		select approval.*,user.USER_NAME,type.id as
		TYPE_ID,type.PROCESS_TYPE,department.DM_NAME from c_wms_approval_t
		approval
		join c_mes_user_t user on approval.USER_ID = user.id
		join
		c_wms_process_approval_t process on approval.PROCESS_ID = process.id
		join c_wms_process_type_t type on process.TYPE_ID = type.id
		join
		c_wms_department_t department on user.DEPARTMENT = department.id
		where
		type.ID = 1
		<if test="id != null">
			AND approval.ID = #{id}
		</if>
		<if test="listNo != null">
			AND approval.LIST_NO = #{listNo}
		</if>
		<if test="dt != null">
			AND approval.DT = #{dt}
		</if>
		<if test="state != null">
			AND approval.STATE = #{state}
		</if>
		<if test="note != null">
			AND approval.NOTE = #{note}
		</if>
		ORDER BY approval.dt desc
	</select>

	<update id="updateApproval">
		update c_wms_approval_t
		<trim prefix="SET" suffixOverrides=",">
			<if test="listNo != null">LIST_NO = #{listNo},</if>
			<if test="processId != null">PROCESS_ID = #{processId},</if>
			<if test="userId != null">USER_ID = #{userId},</if>
			<if test="state != null">STATE = #{state},</if>
			<if test="note != null">NOTE = #{note},</if>
		</trim>
		where 1= 1
		<if test="listNo != null">and LIST_NO = #{listNo}</if>
		<if test="id != null">and ID = #{id}</if>
	</update>

	<insert id="addApprovalDetails">
		insert into c_wms_approval_details_t(
		LIST_NO,APPROVAL_RESULT,USER_ID,REASON,
		APPROVAL_ID,DT,PRIORITY_LEVEL,YN_APPROVED)
		values(
		#{listNo},#{approvalResult},#{userId},#{reason},
		#{approvalId},now(),#{priorityLevel},#{ynApproved})
	</insert>

	<resultMap type="com.skeqi.mes.pojo.wms.ProcessApprovalDetail"
		id="detailMap">
		<result column="ID" property="id" />
		<result column="USER_ID" property="userId" />
		<result column="PRIORITY_LEVEL" property="priorityLevel" />
		<result column="DT" property="dt" />
		<result column="PROCESS_ID" property="processId" />
		<result column="DIS" property="dis" />
		<association property="user" javaType="com.skeqi.mes.pojo.CMesUserT">
			<result column="USER_NAME" property="userName" />
		</association>
		<association property="department" javaType="com.skeqi.mes.pojo.wms.CWmsDepartmentT">
			<result column="DM_NAME" property="dmName" />
		</association>
		<association property="role" javaType="com.skeqi.mes.pojo.CMesRoleT">
			<result column="ROLE_NAME" property="roleName" />
		</association>
		<association property="processType" javaType="com.skeqi.mes.pojo.wms.ProcessType">
			<result column="PROCESS_TYPE_NAME" property="processType" />
		</association>
	</resultMap>

	<select id="findProcessApprovalDetailList" resultMap="detailMap">
		SELECT xq.*,us.USER_NAME,bm.DM_NAME,ro.ROLE_NAME,lx.PROCESS_TYPE as
		PROCESS_TYPE_NAME
		FROM C_WMS_PROCESS_APPROVAL_DETAIL xq
		JOIN
		c_mes_user_t us ON xq.USER_ID = us.id
		JOIN c_wms_department_t bm ON
		us.DEPARTMENT = bm.ID
		JOIN c_qh_role ro ON us.ROLE_ID = ro.ID
		JOIN
		C_WMS_PROCESS_APPROVAL_T lc ON xq.PROCESS_ID = lc.ID
		JOIN
		C_WMS_PROCESS_TYPE_T lx ON lc.TYPE_ID = lx.ID
		WHERE us.viewMode = 1
		<if test="roleId != null and roleId != ''">
			AND ro.ID = #{roleId}
		</if>
		<if test="deptId != null and deptId != ''">
			AND bm.ID = #{deptId}
		</if>
		<if test="typeId != null and typeId != ''">
			AND lx.ID = #{typeId}
		</if>
		<if test="id != null and id != ''">
			AND xq.ID = #{id}
		</if>
		<if test="userId != null and userId != ''">
			AND xq.USER_ID = #{userId}
		</if>
		<if test="priorityLevel != null and priorityLevel != ''">
			AND xq.PRIORITY_LEVEL = #{priorityLevel}
		</if>
		<if test="dt != null and dt != ''">
			AND xq.DT = #{dt}
		</if>
		<if test="processId != null and processId != ''">
			AND xq.PROCESS_ID = #{processId}
		</if>
		<if test="dis != null and dis != ''">
			AND xq.DIS = #{dis}
		</if>
		ORDER BY xq.PRIORITY_LEVEL
	</select>

	<insert id="addMaterialNumber">
		insert into c_wms_material_number_t(
		MATERIAL_NO,MATERIAL_NAME,MATERIAL_NUMBER,PROJECT_ID,
		MATERIAL_ID,WAREHOUSE_ID,AREA_ID,LOCATION_ID,
		RESERVOIR_AREA_ID,LMMINENT_RELEASE,DT,FREEZING_NUMBER,
		RESERVED_NUMBER,TRAY)
		values(
		#{materialNo},#{materialName},#{materialNumber},#{projectId},
		#{materialId},#{wareHouseId},#{areaId},#{locationId},
		#{reservoirareaId},#{lmminentRelease},now(),#{freezingNumber},
		#{reservedNumber},#{tray})
	</insert>

	<select id="queryStockInInformationXT355_356_357" resultMap="approvalMap">
		SELECT
		approval.*,
		USER.USER_NAME,
		type.id AS TYPE_ID,
		type.PROCESS_TYPE,
		department.DM_NAME
		FROM
		c_wms_approval_t approval
		LEFT JOIN c_mes_user_t USER ON
		approval.USER_ID = USER.id
		LEFT JOIN c_wms_process_approval_t process
		ON approval.PROCESS_ID = process.id
		LEFT JOIN c_wms_process_type_t type
		ON process.TYPE_ID = type.id
		LEFT JOIN c_wms_department_t department ON
		USER.DEPARTMENT = department.id
		WHERE
		approval.LIST_NO like 'RK%'
	</select>

	<update id="updateInTaskqueue">
		update r_wms_in_taskqueue_t
		<trim prefix="SET" suffixOverrides=",">
			<if test="listNo != null">LIST_NO = #{listNo},</if>
			<if test="tray != null">TRAY = #{tray},</if>
			<if test="flag != null">FLAG = #{flag},</if>
			<if test="locationId != null">LOCATION_ID = #{locationId},</if>
			OVER_DT = now()
		</trim>
		where ID = #{id}
	</update>

	<insert id="addInTaskqueue">
		insert into r_wms_in_taskqueue_t(
		DT,LIST_NO,TRAY,FLAG,
		OVER_DT,LOCATION_ID)
		values(
		now(),#{listNo},#{tray},#{flag},
		now(),#{locationId})
	</insert>

	<select id="findPStorageDetail" resultMap="storageMap">
		SELECT storage.*,material.MATERIAL_NAME,material.BOM_ID,warehouse.name as W_NAME,area.AREA_NAME,reservoir.RA_NAME,location.LOCATION_NAME,project.PROJECT_NAME FROM p_wms_storage_detail_t storage
		JOIN c_mes_jl_material_t material on storage.MATERIAL_ID = material.id
		JOIN c_wms_warehouse_t warehouse on storage.WAREHOUSE_ID = warehouse.ID
		Left JOIN c_wms_area_t area on storage.AREA_ID = area.id
		Left JOIN c_wms_reservoir_area_t reservoir on storage.RESERVOIR_AREA_ID = reservoir.id
		Left JOIN c_wms_location_t location on storage.LOCATION_ID = location.id
		JOIN c_wms_project_t project on storage.PROJECT_ID = project.id
		where 1 = 1
		<if test="id != null">
			AND storage.ID = #{id}
		</if>
		<if test="dt != null">
			AND storage.DT = #{dt}
		</if>
		<if test="materialId != null">
			AND storage.MATERIAL_ID = #{materialId}
		</if>
		<if test="materialNumber != null">
			AND storage.MATERIAL_NUMBER = #{materialNumber}
		</if>
		<if test="materialCode != null">
			AND storage.MATERIAL_CODE = #{materialCode}
		</if>
		<if test="areaId != null">
			AND storage.AREA_ID = #{areaId}
		</if>
		<if test="reservoirAreaId != null">
			AND storage.RESERVOIR_AREA_ID = #{reservoirAreaId}
		</if>
		<if test="locationId != null">
			AND storage.LOCATION_ID = #{locationId}
		</if>
		<if test="note != null">
			AND storage.NOTE = #{note}
		</if>
		<if test="listNo != null">
			AND storage.LIST_NO = #{listNo}
		</if>
		<if test="projectId != null">
			AND storage.PROJECT_ID = #{projectId}
		</if>
		<if test="supplierId != null">
			AND storage.SUPPLIER_ID = #{supplierId}
		</if>
		<if test="tray != null">
			AND storage.TRAY = #{tray}
		</if>
		<if test="warehouseId != null">
			AND storage.WAREHOUSE_ID = #{warehouseId}
		</if>
		<if test="ynShift != null">
			AND storage.YN_SHIFT = #{ynShift}
		</if>
		ORDER BY storage.ID
	</select>

	<select id="findPStorageDetailSum" resultType="java.util.Map">
		SELECT
			material.MATERIAL_NAME as materialName,
			warehouse.NAME as wName,
			location.LOCATION_NAME as locationName,
			project.PROJECT_NAME as projectName,
			warehouse.id AS wId,
			location.id as locationId,
			project.id as projectId,
			sum(`STORAGE`.MATERIAL_NUMBER) AS sum
		FROM
			p_wms_storage_detail_t
			`STORAGE` JOIN c_mes_jl_material_t material ON STORAGE.MATERIAL_ID = material.id
			JOIN c_wms_warehouse_t warehouse ON STORAGE.WAREHOUSE_ID = warehouse.ID
			LEFT JOIN c_wms_area_t area ON STORAGE.AREA_ID = area.id
			LEFT JOIN c_wms_reservoir_area_t reservoir ON STORAGE.RESERVOIR_AREA_ID = reservoir.id
			LEFT JOIN c_wms_location_t location ON STORAGE.LOCATION_ID = location.id
			JOIN c_wms_project_t project ON STORAGE.PROJECT_ID = project.id
		WHERE `STORAGE`.LIST_NO=#{listNo}
		GROUP BY material.MATERIAL_NAME,warehouse.NAME,location.LOCATION_NAME,project.PROJECT_NAME
	</select>

	<select id="findRStorageDetailSum" resultType="java.util.Map">
		SELECT
			material.MATERIAL_NAME as materialName,
			warehouse.NAME as wName,
			location.LOCATION_NAME as locationName,
			project.PROJECT_NAME as projectName,
			warehouse.id AS wId,
			location.id as locationId,
			project.id as projectId,
			sum(`STORAGE`.MATERIAL_NUMBER) AS sum
		FROM
			r_wms_storage_detail_t
			`STORAGE` JOIN c_mes_jl_material_t material ON STORAGE.MATERIAL_ID = material.id
			JOIN c_wms_warehouse_t warehouse ON STORAGE.WAREHOUSE_ID = warehouse.ID
			LEFT JOIN c_wms_area_t area ON STORAGE.AREA_ID = area.id
			LEFT JOIN c_wms_reservoir_area_t reservoir ON STORAGE.RESERVOIR_AREA_ID = reservoir.id
			LEFT JOIN c_wms_location_t location ON STORAGE.LOCATION_ID = location.id
			JOIN c_wms_project_t project ON STORAGE.PROJECT_ID = project.id
		WHERE `STORAGE`.LIST_NO=#{listNo}
		GROUP BY material.MATERIAL_NAME,warehouse.NAME,location.LOCATION_NAME,project.PROJECT_NAME
	</select>

	<select id="findLocationIdAndName" resultType="com.alibaba.fastjson.JSONObject">
		SELECT
			id,
			LOCATION_NAME as locationName
		FROM
			c_wms_location_t
		WHERE
			LOCATION_STATUS = 0
			AND RESERVOIR_AREA_ID = #{raId}
		ORDER BY id
	</select>

	<select id="findUserById" resultType="com.skeqi.mes.pojo.CMesUserT">
		select * from c_mes_user_t
		where viewMode = 1
		and id = #{userId}
	</select>

	<select id="findWarehouse" resultType="com.alibaba.fastjson.JSONObject">
		select id,`NAME` as warehouseName from c_wms_warehouse_t
		where VIEW_MODE = 1
		ORDER BY id
	</select>

	<select id="findArea" resultType="com.alibaba.fastjson.JSONObject">
		select id,AREA_NAME as areaName from c_wms_area_t
		where VIEW_MODE = 1
		and WAREHOUSE_ID = #{warehouseId}
		ORDER BY id
	</select>

	<select id="findReservoirArea" resultType="com.alibaba.fastjson.JSONObject">
		select id,RA_NAME as raName from c_wms_reservoir_area_t
		where VIEW_MODE = 1
		and AREA_ID = #{areaId}
		ORDER BY id
	</select>

	<select id="findLocation" resultType="com.alibaba.fastjson.JSONObject">
		select id,LOCATION_NAME as locationName from c_wms_location_t
		where VIEW_MODE = 1
		and RESERVOIR_AREA_ID = #{reservoirAreaId}
		and LOCATION_STATUS = 0
		ORDER BY id
	</select>

	<select id="findProject" resultType="com.alibaba.fastjson.JSONObject">
		select id,PROJECT_NAME as projectName from c_wms_project_t
		where VIEW_MODE = 1
		and PROJECT_NAME like '%${projectName}%'
		ORDER BY id
	</select>

	<select id="findMaterial" resultType="com.alibaba.fastjson.JSONObject">
		select id,MATERIAL_NAME as materialName from c_mes_jl_material_t
		where VIEW_MODE = 1
		and MATERIAL_NAME like '%${materialName}%'
		ORDER BY id
	</select>


</mapper>
