<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.qh.CQhMenuDao">

	<!-- 手动映射 CQhMenuT -->
	<resultMap type="com.alibaba.fastjson.JSONObject" id="cQhMenuMap">
		<id column="id" property="id" />
		<result column="menu_grade" property="menuGrade" />
		<result column="superior_menu_id" property="superiorMenuId" />
		<result column="menu_name" property="menuName" />
		<result column="if_enable" property="ifEnable" />
		<result column="icon" property="icon" />
		<result column="order" property="order" />
		<result column="path" property="path" />
		<association property="superiorMenu" javaType="com.alibaba.fastjson.JSONObject">
			<result column="superior_menu_id" property="id" />
			<result column="superior_menu_name" property="menuName" />
		</association>
	</resultMap>

	<!-- 按条件查询菜单 -->
	<select id="findMenuList" resultMap="cQhMenuMap">
		SELECT
			menu_1.id,
			menu_1.menu_grade,
			menu_1.superior_menu_id,
			menu_1.menu_name,
			menu_1.if_enable,
			menu_1.icon,
			menu_1.`order`,
			menu_1.path,
			menu_2.menu_name AS superior_menu_name
		FROM
		c_qh_menu menu_1
		LEFT JOIN c_qh_menu menu_2 ON menu_1.superior_menu_id = menu_2.id
		<where>
			<if test="menuGrade != null and menuGrade != ''">
				menu_1.menu_grade = #{menuGrade}
			</if>
			<if test="menuName != null and menuName != ''">
				and menu_1.menu_name like '%${menuName}%'
			</if>
			<if test="superiorMenuId != null and superiorMenuId != ''">
				and menu_2.superior_menu_id = #{superiorMenuId}
			</if>
			<if test="parentMenuName != null and parentMenuName != ''">
				and menu_2.menu_name = #{parentMenuName}
			</if>
		</where>
	</select>

	<!-- 通过上级id查询菜单 -->
	<select id="findMenuBySuperiorMenuIdList" resultType="com.skeqi.mes.pojo.qh.CQhMenuT">
		SELECT
			id,
			menu_grade,
			superior_menu_id,
			menu_name
		FROM
			c_qh_menu
		where
			superior_menu_id = #{superiorMenuId}
	</select>

	<!-- 通过id查询菜单 -->
	<select id="findMenuById" resultType="com.skeqi.mes.pojo.qh.CQhMenuT">
		SELECT
			id,
			menu_grade,
			superior_menu_id,
			menu_name
		FROM
			c_qh_menu
		where
			id = #{id}
	</select>

	<!-- 通过id跟名称查询菜单是否存在 -->
	<select id="findMenuBYIdAndName" resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM
		c_qh_menu
		<where>
			<if test="id != null and id != ''">
				id != #{id}
			</if>
			<if test="menuName != null and menuName != ''">
				and menu_name = #{menuName}
			</if>
		</where>
	</select>

	<!-- 新增菜单 -->
	<insert id="addMenu">
		INSERT INTO
		c_qh_menu(menu_grade,superior_menu_id,menu_name,if_enable,path,icon,`order`)
		value(#{menuGrade},#{superiorMenuId},#{menuName},#{ifEnable},#{path},#{icon},#{order})
	</insert>

	<!-- 更新菜单 -->
	<update id="updateMenu">
		update c_qh_menu
		set
		menu_grade = #{menuGrade},
		superior_menu_id = #{superiorMenuId},
		menu_name = #{menuName},
		if_enable = #{ifEnable},
		path = #{path},
		icon = #{icon},
		`order` = #{order}
		where id = #{id}
	</update>

	<!-- 删除菜单 -->
	<delete id="deleteMenuById">
		delete from c_qh_menu
		where id = #{id}
	</delete>

	<!-- 通过上级id删除菜单 -->
	<delete id="deleteMenuBySuperiorMenuId">
		delete from c_qh_menu
		where superior_menu_id = #{superiorMenuId}
	</delete>

</mapper>
