<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.htd.po.mapper.ProductMapper">

    <select id="getProductByIds" resultType="com.skeqi.htd.po.entity.Product">
        select id as id,
        code as code,
        sku as sku,
        name as name,
        brand as brand,
        picture as picture,
        unit as unit
        from t_product
        where deleted = 0
        and id in <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>;
    </select>
    <select id="selectPage" resultType="com.skeqi.htd.po.entity.Product">
        select id as id,
        code as code,
        sku as sku,
        name as name,
        brand as brand,
        picture as picture,
        unit as unit
        from t_product
        where deleted = 0
        <if test="code != null">and `code` = #{code}</if>
        <if test="productSku != null">and sku = #{productSku}</if>
        <if test="product != null">and name = #{product}</if>
        order by id desc limit  #{offset},#{pageSize}
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(1)
        from t_product
        where deleted = 0
        <if test="code != null">and `code` = #{code}</if>
        <if test="productSku != null">and sku = #{productSku}</if>
        <if test="product != null">and name = #{product}</if>
    </select>
</mapper>
