<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.wf.productionQuality.dataCollection.range.MesDataCollectionRangeTMapper">
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`,`number`, `process`, equipment, material, cdt, udt
  </sql>
  <select id="selectByPrimaryKey" resultType="com.skeqi.mes.pojo.wf.productionQuality.dataCollection.range.MesDataCollectionRangeT">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from c_mes_data_collection_range_t
    where `number` = #{number,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultType="com.skeqi.mes.pojo.wf.productionQuality.dataCollection.range.MesDataCollectionRangeT">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from c_mes_data_collection_range_t
  </select>
  <delete id="deleteByPrimaryKey">
    <!--@mbg.generated-->
    delete from c_mes_data_collection_range_t
    where `number` = #{number,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.skeqi.mes.pojo.wf.productionQuality.dataCollection.range.MesDataCollectionRangeT" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into c_mes_data_collection_range_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null and name != ''">
        `name` ,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="process != null">
        `process`,
      </if>
      <if test="equipment != null">
        equipment,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="cdt != null">
        cdt,
      </if>
      <if test="udt != null">
        udt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="process != null">
        #{process,jdbcType=VARCHAR},
      </if>
      <if test="equipment != null">
        #{equipment,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="cdt != null">
        #{cdt,jdbcType=TIMESTAMP},
      </if>
      <if test="udt != null">
        #{udt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.skeqi.mes.pojo.wf.productionQuality.dataCollection.range.MesDataCollectionRangeT">
    <!--@mbg.generated-->
    update c_mes_data_collection_range_t
    <set>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="process != null">
        `process` = #{process,jdbcType=VARCHAR},
      </if>
      <if test="equipment != null">
        equipment = #{equipment,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="cdt != null">
        cdt = #{cdt,jdbcType=TIMESTAMP},
      </if>
      <if test="udt != null">
        udt = #{udt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `number` = #{number,jdbcType=VARCHAR}
  </update>
</mapper>
