<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.chenj.srm.CSrmTemplateDetailsMapper">
  <resultMap id="BaseResultMap" type="com.skeqi.mes.pojo.chenj.srm.CSrmTemplateDetails">
    <!--@mbg.generated-->
    <!--@Table c_srm_template_details-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="template_code" jdbcType="VARCHAR" property="templateCode" />
    <result column="auxiliary_type" jdbcType="VARCHAR" property="auxiliaryType" />
    <result column="property_field" jdbcType="VARCHAR" property="propertyField" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, template_code, auxiliary_type, property_field, version, field_name, field_type,
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from c_srm_template_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from c_srm_template_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmTemplateDetails" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into c_srm_template_details (template_code, auxiliary_type, property_field,
      version, field_name, field_type,
      create_time, update_time)
    values (#{templateCode,jdbcType=VARCHAR}, #{auxiliaryType,jdbcType=VARCHAR}, #{propertyField,jdbcType=VARCHAR},
      #{version,jdbcType=VARCHAR}, #{fieldName,jdbcType=VARCHAR}, #{fieldType,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmTemplateDetails" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into c_srm_template_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateCode != null">
        template_code,
      </if>
      <if test="auxiliaryType != null">
        auxiliary_type,
      </if>
      <if test="propertyField != null">
        property_field,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="fieldName != null">
        field_name,
      </if>
      <if test="fieldType != null">
        field_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateCode != null">
        #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="auxiliaryType != null">
        #{auxiliaryType,jdbcType=VARCHAR},
      </if>
      <if test="propertyField != null">
        #{propertyField,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmTemplateDetails">
    <!--@mbg.generated-->
    update c_srm_template_details
    <set>
      <if test="templateCode != null">
        template_code = #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="auxiliaryType != null">
        auxiliary_type = #{auxiliaryType,jdbcType=VARCHAR},
      </if>
      <if test="propertyField != null">
        property_field = #{propertyField,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        field_type = #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmTemplateDetails">
    <!--@mbg.generated-->
    update c_srm_template_details
    set template_code = #{templateCode,jdbcType=VARCHAR},
      auxiliary_type = #{auxiliaryType,jdbcType=VARCHAR},
      property_field = #{propertyField,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      field_type = #{fieldType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update c_srm_template_details
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="template_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.templateCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="auxiliary_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.auxiliaryType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="property_field = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.propertyField,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.version,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="field_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.fieldName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="field_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.fieldType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update c_srm_template_details
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="template_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.templateCode != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.templateCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="auxiliary_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.auxiliaryType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.auxiliaryType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="property_field = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.propertyField != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.propertyField,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.version,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="field_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fieldName != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.fieldName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="field_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fieldType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.fieldType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into c_srm_template_details
    (template_code, auxiliary_type, property_field, version, field_name, field_type,
      create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.templateCode,jdbcType=VARCHAR}, #{item.auxiliaryType,jdbcType=VARCHAR}, #{item.propertyField,jdbcType=VARCHAR},
        #{item.version,jdbcType=VARCHAR}, #{item.fieldName,jdbcType=VARCHAR}, #{item.fieldType,jdbcType=VARCHAR},
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmTemplateDetails" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into c_srm_template_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      template_code,
      auxiliary_type,
      property_field,
      version,
      field_name,
      field_type,
      create_time,
      update_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{templateCode,jdbcType=VARCHAR},
      #{auxiliaryType,jdbcType=VARCHAR},
      #{propertyField,jdbcType=VARCHAR},
      #{version,jdbcType=VARCHAR},
      #{fieldName,jdbcType=VARCHAR},
      #{fieldType,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      template_code = #{templateCode,jdbcType=VARCHAR},
      auxiliary_type = #{auxiliaryType,jdbcType=VARCHAR},
      property_field = #{propertyField,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      field_type = #{fieldType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmTemplateDetails" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into c_srm_template_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="templateCode != null">
        template_code,
      </if>
      <if test="auxiliaryType != null">
        auxiliary_type,
      </if>
      <if test="propertyField != null">
        property_field,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="fieldName != null">
        field_name,
      </if>
      <if test="fieldType != null">
        field_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateCode != null">
        #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="auxiliaryType != null">
        #{auxiliaryType,jdbcType=VARCHAR},
      </if>
      <if test="propertyField != null">
        #{propertyField,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="templateCode != null">
        template_code = #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="auxiliaryType != null">
        auxiliary_type = #{auxiliaryType,jdbcType=VARCHAR},
      </if>
      <if test="propertyField != null">
        property_field = #{propertyField,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        field_type = #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>
