<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.chenj.srm.CSrmLinkmanMapper">
    <resultMap id="BaseResultMap" type="com.skeqi.mes.pojo.chenj.srm.CSrmLinkman">
        <!--@mbg.generated-->
        <!--@Table c_srm_linkman-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, sex, phone, email, department, `position`, supplier_code, create_time,
        update_time, is_delete, company_code
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from c_srm_linkman
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKeyList" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmLinkman" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from c_srm_linkman
        <where>
            <if test="supplierCode != null and supplierCode != ''">
                supplier_code=#{supplierCode,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                and name=#{name,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            and is_delete=0
        </where>
    </select>
    <update id="delData">
        update c_srm_linkman set is_delete=1,update_time=now() where supplier_code=#{supplierCode,jdbcType=VARCHAR} and
        is_delete=0
    </update>
    <select id="selectByPrimaryKeyListD" resultType="com.skeqi.mes.pojo.chenj.srm.rsp.CSrmLinkmanChangeRecordRsp">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from c_srm_linkman
        <where>
            <if test="supplierCode != null and supplierCode != ''">
                supplier_code=#{supplierCode,jdbcType=VARCHAR}
            </if>
            <if test="companyCode != null and companyCode != ''">
                and company_code=#{companyCode,jdbcType=VARCHAR}
            </if>
            and is_delete=0
        </where>

    </select>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmLinkman"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_linkman
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="position != null">
                `position`,
            </if>
            <if test="supplierCode != null">
                supplier_code,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="supplierCode != null">
                #{supplierCode,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmLinkman">
        <!--@mbg.generated-->
        update c_srm_linkman
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                `position` = #{position,jdbcType=VARCHAR},
            </if>
            <if test="supplierCode != null">
                supplier_code = #{supplierCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update c_srm_linkman
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="`name` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.name != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.name,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sex = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.sex != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.sex,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="phone = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.phone != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.phone,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="email = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.email != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.email,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="department = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.department != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.department,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`position` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.position != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.position,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="supplier_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.supplierCode != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.supplierCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_delete = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.isDelete != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.isDelete,jdbcType=BIT}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" useGeneratedKeys="false">
        <!--@mbg.generated-->
        insert into c_srm_linkman
        (`name`, sex, phone, email, department, `position`, supplier_code, create_time, update_time,
        is_delete)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name,jdbcType=VARCHAR}, #{item.sex,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR},
            #{item.email,jdbcType=VARCHAR}, #{item.department,jdbcType=VARCHAR}, #{item.position,jdbcType=VARCHAR},
            #{item.supplierCode,jdbcType=VARCHAR}, now(),
            #{item.updateTime,jdbcType=TIMESTAMP},
            0)
        </foreach>
    </insert>

    <insert id="batchInsertData" useGeneratedKeys="false">
        <!--@mbg.generated-->
        insert into c_srm_linkman
        (`name`, sex, phone, email, department, `position`, supplier_code, create_time, update_time,
        is_delete)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name,jdbcType=VARCHAR}, #{item.sex,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR},
            #{item.email,jdbcType=VARCHAR}, #{item.department,jdbcType=VARCHAR}, #{item.position,jdbcType=VARCHAR},
            #{item.supplierCode,jdbcType=VARCHAR}, now(),
            #{item.updateTime,jdbcType=TIMESTAMP},
            0)
        </foreach>
    </insert>

    <!--查询供应商代码是否存在-->
    <select id="selectSupplierCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        c_srm_linkman
        where supplier_code=#{supplierCode,jdbcType=VARCHAR}
    </select>
    <update id="updateBatchSelectiveData">
        update c_srm_linkman
        set is_delete=1
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

</mapper>
