<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.chenj.srm.CSrmIndicatorsDimensionMapper">
    <resultMap id="BaseResultMap" type="com.skeqi.mes.pojo.chenj.srm.CSrmIndicatorsDimension">
        <!--@mbg.generated-->
        <!--@Table c_srm_indicators_dimension-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="index_coding" jdbcType="VARCHAR" property="indexCoding"/>
        <result column="index_name" jdbcType="VARCHAR" property="indexName"/>
        <result column="score_is" jdbcType="VARCHAR" property="scoreIs"/>
        <result column="pointer_type" jdbcType="VARCHAR" property="pointerType"/>
        <result column="score_start" jdbcType="VARCHAR" property="scoreStart"/>
        <result column="score_stop" jdbcType="VARCHAR" property="scoreStop"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, index_coding, index_name, score_is, pointer_type, score_start, score_stop, create_time,
        update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmIndicatorsDimension"
            resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from c_srm_indicators_dimension
        <where>
            <if test="indexCoding != null and indexCoding != ''">
                index_coding=#{indexCoding,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from c_srm_indicators_dimension
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmIndicatorsDimension"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_indicators_dimension (index_coding, index_name, score_is,
        pointer_type, score_start, score_stop,
        create_time, update_time)
        values (#{indexCoding,jdbcType=VARCHAR}, #{indexName,jdbcType=VARCHAR}, #{scoreIs,jdbcType=VARCHAR},
        #{pointerType,jdbcType=VARCHAR}, #{scoreStart,jdbcType=VARCHAR}, #{scoreStop,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmIndicatorsDimension" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_indicators_dimension
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="indexCoding != null">
                index_coding,
            </if>
            <if test="indexName != null">
                index_name,
            </if>
            <if test="scoreIs != null">
                score_is,
            </if>
            <if test="pointerType != null">
                pointer_type,
            </if>
            <if test="scoreStart != null">
                score_start,
            </if>
            <if test="scoreStop != null">
                score_stop,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="indexCoding != null">
                #{indexCoding,jdbcType=VARCHAR},
            </if>
            <if test="indexName != null">
                #{indexName,jdbcType=VARCHAR},
            </if>
            <if test="scoreIs != null">
                #{scoreIs,jdbcType=VARCHAR},
            </if>
            <if test="pointerType != null">
                #{pointerType,jdbcType=VARCHAR},
            </if>
            <if test="scoreStart != null">
                #{scoreStart,jdbcType=VARCHAR},
            </if>
            <if test="scoreStop != null">
                #{scoreStop,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmIndicatorsDimension">
        <!--@mbg.generated-->
        update c_srm_indicators_dimension
        <set>
            <if test="indexCoding != null">
                index_coding = #{indexCoding,jdbcType=VARCHAR},
            </if>
            <if test="indexName != null">
                index_name = #{indexName,jdbcType=VARCHAR},
            </if>
            <if test="scoreIs != null">
                score_is = #{scoreIs,jdbcType=VARCHAR},
            </if>
            <if test="pointerType != null">
                pointer_type = #{pointerType,jdbcType=VARCHAR},
            </if>
            <if test="scoreStart != null">
                score_start = #{scoreStart,jdbcType=VARCHAR},
            </if>
            <if test="scoreStop != null">
                score_stop = #{scoreStop,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmIndicatorsDimension">
        <!--@mbg.generated-->
        update c_srm_indicators_dimension
        set index_coding = #{indexCoding,jdbcType=VARCHAR},
        index_name = #{indexName,jdbcType=VARCHAR},
        score_is = #{scoreIs,jdbcType=VARCHAR},
        pointer_type = #{pointerType,jdbcType=VARCHAR},
        score_start = #{scoreStart,jdbcType=VARCHAR},
        score_stop = #{scoreStop,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update c_srm_indicators_dimension
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="index_coding = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.indexCoding,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="index_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.indexName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="score_is = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.scoreIs,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="pointer_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.pointerType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="score_start = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.scoreStart,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="score_stop = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.scoreStop,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update c_srm_indicators_dimension
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="index_coding = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.indexCoding != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.indexCoding,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="index_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.indexName != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.indexName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="score_is = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.scoreIs != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.scoreIs,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pointer_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.pointerType != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.pointerType,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="score_start = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.scoreStart != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.scoreStart,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="score_stop = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.scoreStop != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.scoreStop,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_indicators_dimension
        (index_coding, index_name, score_is, pointer_type, score_start, score_stop, create_time,
        update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.indexCoding,jdbcType=VARCHAR}, #{item.indexName,jdbcType=VARCHAR}, #{item.scoreIs,jdbcType=VARCHAR},
            #{item.pointerType,jdbcType=VARCHAR}, #{item.scoreStart,jdbcType=VARCHAR},
            #{item.scoreStop,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id"
            parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmIndicatorsDimension" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_indicators_dimension
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            index_coding,
            index_name,
            score_is,
            pointer_type,
            score_start,
            score_stop,
            create_time,
            update_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            #{indexCoding,jdbcType=VARCHAR},
            #{indexName,jdbcType=VARCHAR},
            #{scoreIs,jdbcType=VARCHAR},
            #{pointerType,jdbcType=VARCHAR},
            #{scoreStart,jdbcType=VARCHAR},
            #{scoreStop,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            index_coding = #{indexCoding,jdbcType=VARCHAR},
            index_name = #{indexName,jdbcType=VARCHAR},
            score_is = #{scoreIs,jdbcType=VARCHAR},
            pointer_type = #{pointerType,jdbcType=VARCHAR},
            score_start = #{scoreStart,jdbcType=VARCHAR},
            score_stop = #{scoreStop,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmIndicatorsDimension" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_indicators_dimension
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="indexCoding != null">
                index_coding,
            </if>
            <if test="indexName != null">
                index_name,
            </if>
            <if test="scoreIs != null">
                score_is,
            </if>
            <if test="pointerType != null">
                pointer_type,
            </if>
            <if test="scoreStart != null">
                score_start,
            </if>
            <if test="scoreStop != null">
                score_stop,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="indexCoding != null">
                #{indexCoding,jdbcType=VARCHAR},
            </if>
            <if test="indexName != null">
                #{indexName,jdbcType=VARCHAR},
            </if>
            <if test="scoreIs != null">
                #{scoreIs,jdbcType=VARCHAR},
            </if>
            <if test="pointerType != null">
                #{pointerType,jdbcType=VARCHAR},
            </if>
            <if test="scoreStart != null">
                #{scoreStart,jdbcType=VARCHAR},
            </if>
            <if test="scoreStop != null">
                #{scoreStop,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="indexCoding != null">
                index_coding = #{indexCoding,jdbcType=VARCHAR},
            </if>
            <if test="indexName != null">
                index_name = #{indexName,jdbcType=VARCHAR},
            </if>
            <if test="scoreIs != null">
                score_is = #{scoreIs,jdbcType=VARCHAR},
            </if>
            <if test="pointerType != null">
                pointer_type = #{pointerType,jdbcType=VARCHAR},
            </if>
            <if test="scoreStart != null">
                score_start = #{scoreStart,jdbcType=VARCHAR},
            </if>
            <if test="scoreStop != null">
                score_stop = #{scoreStop,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="findPerformanceEvaluation" resultType="com.skeqi.mes.pojo.chenj.srm.rsp.CSrmIndicatorsDimensionRsp">
        select
        index_coding, index_name, score_is, pointer_type, score_start, score_stop,data_source,status
        from c_srm_indicators_dimension
        <where>
            <if test="indexCoding != null and indexCoding != ''">
                index_coding like concat('%',#{indexCoding,jdbcType=VARCHAR},'%')
            </if>
            and is_delete=0
        </where>
    </select>
</mapper>
