<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.chenj.srm.CSrmSurveyMapper">
    <resultMap id="BaseResultMap" type="com.skeqi.mes.pojo.chenj.srm.CSrmSurvey">
        <!--@mbg.generated-->
        <!--@Table c_srm_survey-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="survey_form_number" jdbcType="VARCHAR" property="surveyFormNumber"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="template_code" jdbcType="VARCHAR" property="templateCode"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, survey_form_number, company_name, creator, template_code, `status`, create_time,
        update_time
    </sql>
    <select id="selectSurveyData" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmSurvey" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from c_srm_survey
        <where>
            <if test="surveyFormNumber != null and surveyFormNumber != ''">
                survey_form_number=#{surveyFormNumber,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from c_srm_survey
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmSurvey"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_survey (survey_form_number, company_name, creator,
        template_code, `status`, create_time,
        update_time)
        values (#{surveyFormNumber,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},
        #{templateCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmSurvey"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_survey
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="surveyFormNumber != null">
                survey_form_number,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="templateCode != null">
                template_code,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="surveyFormNumber != null">
                #{surveyFormNumber,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="templateCode != null">
                #{templateCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmSurvey">
        <!--@mbg.generated-->
        update c_srm_survey
        <set>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="templateCode != null">
                template_code = #{templateCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="surveyFormNumber != null and surveyFormNumber != ''">
                survey_form_number=#{surveyFormNumber,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
        </where>

    </update>
    <update id="updateByPrimaryKey" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmSurvey">
        <!--@mbg.generated-->
        update c_srm_survey
        set survey_form_number = #{surveyFormNumber,jdbcType=VARCHAR},
        company_name = #{companyName,jdbcType=VARCHAR},
        creator = #{creator,jdbcType=VARCHAR},
        template_code = #{templateCode,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update c_srm_survey
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="survey_form_number = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.surveyFormNumber,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="company_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.companyName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="creator = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.creator,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="template_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.templateCode,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.status,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update c_srm_survey
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="survey_form_number = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.surveyFormNumber != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.surveyFormNumber,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="company_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.companyName != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.companyName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="creator = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.creator != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.creator,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="template_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.templateCode != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.templateCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.status != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.status,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_survey
        (survey_form_number, company_name, creator, template_code, `status`, create_time,
        update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.surveyFormNumber,jdbcType=VARCHAR}, #{item.companyName,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR}, #{item.templateCode,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmSurvey"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_survey
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            survey_form_number,
            company_name,
            creator,
            template_code,
            `status`,
            create_time,
            update_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            #{surveyFormNumber,jdbcType=VARCHAR},
            #{companyName,jdbcType=VARCHAR},
            #{creator,jdbcType=VARCHAR},
            #{templateCode,jdbcType=VARCHAR},
            #{status,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            survey_form_number = #{surveyFormNumber,jdbcType=VARCHAR},
            company_name = #{companyName,jdbcType=VARCHAR},
            creator = #{creator,jdbcType=VARCHAR},
            template_code = #{templateCode,jdbcType=VARCHAR},
            `status` = #{status,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="com.skeqi.mes.pojo.chenj.srm.CSrmSurvey"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into c_srm_survey
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="surveyFormNumber != null">
                survey_form_number,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="templateCode != null">
                template_code,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="surveyFormNumber != null">
                #{surveyFormNumber,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="templateCode != null">
                #{templateCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="surveyFormNumber != null">
                survey_form_number = #{surveyFormNumber,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="templateCode != null">
                template_code = #{templateCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <!--获取最后一条数据-->
    <select id="selectFinallyData" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        SELECT
        template_code
        FROM
        c_srm_survey
        where template_code like concat('R2','%')
        ORDER BY
        id DESC
        LIMIT 1
    </select>
    <select id="findCSrmSurveyData" resultType="com.skeqi.mes.pojo.chenj.srm.rsp.CSrmSurveyRsp">

        SELECT y.survey_form_number,
        c.company_name,
        y.template_code,
        y.create_time,
        y.creator
        FROM c_srm_survey y
        LEFT JOIN c_srm_company c ON c.id = y.company_id
        <where>
            <if test="companyName != null and companyName != ''">
                c.company_name like concat('%',#{companyName,jdbcType=VARCHAR},'%')
            </if>
            <if test="surveyFormNumber != null and surveyFormNumber != ''">
                and survey_form_number like concat('%',#{surveyFormNumber,jdbcType=VARCHAR},'%')
            </if>
            and y.is_delete=0
        </where>
    </select>

</mapper>
