<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.finance.mapper.TFaAssetTypeGroupMapper">

    <resultMap type="com.skeqi.finance.domain.asset.TFaAssetTypeGroup" id="TFaAssetTypeGroupResult">
        <result property="fId" column="f_id"/>
        <result property="fNumber" column="f_number"/>
    </resultMap>


</mapper>
