<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.yp.wms.WmsInventoryTransactionDao">

	<!-- 新增 -->
	<insert id="add">
		INSERT INTO c_qh_wms_inventory_transaction_t
		(
			dt,factoryId,listNo,projectId,
			packageId,unitCode,itemNo,batchNumber,
			number,sign,transactionType,userId,
			transactionCode,outLocationId,intLocationId,materialId
		)
		value
		(
			now(),#{factoryId},#{listNo},#{projectId},
			#{packageId},#{unitCode},#{itemNo},#{batchNumber},
			#{number},#{sign},#{transactionType},#{userId},
			#{transactionCode},#{outLocationId},#{intLocationId},#{materialId}
		)
	</insert>

</mapper>
