<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skeqi.mes.mapper.yp.wms.WmsNonProductionScrapReceiptDao">

	<!-- 查询 -->
	<select id="list" resultType="com.alibaba.fastjson.JSONObject">
		SELECT
			a.id,
			a.listNo,
			a.scrapType,
			a.sourceFactoryId,
			a.sourceLocationId,
			a.sourceDepartmentId,
			a.sourceProjectId,
			a.receivingFactoryId,
			a.receivingLocationId,
			a.establishUserId,
			DATE_FORMAT( a.establishDt, '%Y-%m-%d %H:%i:%s' ) AS establishDt,
			a.receivingUserId,
			DATE_FORMAT( a.receivingDt, '%Y-%m-%d %H:%i:%s' ) AS receivingDt,
			a.`status`,
			a.dis,
			b.factoryName AS sourceFactoryName,
			c.LOCATION_NAME AS sourceLocationName,
			d.DM_NAME AS sourceDepartmentName,
			e.PROJECT_NAME AS sourceProjectName,
			f.factoryName AS receivingFactoryName,
			g.LOCATION_NAME AS receivingLocationName,
			h.USER_NAME AS establishUserName,
			h.`name` AS establishUserFullName,
			i.USER_NAME AS receivingUserName,
			i.`name` AS receivingUserFullName
		FROM
			c_qh_wms_non_production_scrap_receipt_h_t a
			LEFT JOIN c_mes_factory_t b ON a.sourceFactoryId = b.id
			LEFT JOIN c_wms_location_t c ON a.sourceLocationId = c.id
			LEFT JOIN c_wms_department_t d ON a.sourceDepartmentId = d.id
			LEFT JOIN c_crm_project_basic_info e ON a.sourceProjectId = e.id
			LEFT JOIN c_mes_factory_t f ON a.receivingFactoryId = f.id
			LEFT JOIN c_wms_location_t g ON a.receivingLocationId = g.id
			LEFT JOIN c_mes_user_t h ON a.establishUserId = h.id
			LEFT JOIN c_mes_user_t i ON a.receivingUserId = i.id
		where a.viewMode = 1
		<if test="listNo != null and listNo != ''">
			and a.listNo like '%${listNo}%'
		</if>
		<if test="scrapType != null and scrapType != ''">
			and a.scrapType = #{scrapType}
		</if>
		<if test="sourceFactoryId != null and sourceFactoryId != ''">
			and a.sourceFactoryId = #{sourceFactoryId}
		</if>
		<if test="sourceLocationId != null and sourceLocationId != ''">
			and a.sourceLocationId = #{sourceLocationId}
		</if>
		<if test="sourceDepartmentId != null and sourceDepartmentId != ''">
			and a.sourceDepartmentId = #{sourceDepartmentId}
		</if>
		<if test="sourceProjectId != null and sourceProjectId != ''">
			and a.sourceProjectId = #{sourceProjectId}
		</if>
		<if test="receivingFactoryId != null and receivingFactoryId != ''">
			and a.receivingFactoryId = #{receivingFactoryId}
		</if>
		<if test="receivingLocationId != null and receivingLocationId != ''">
			and a.receivingLocationId = #{receivingLocationId}
		</if>
		<if test="establishUser != null and establishUser != ''">
			and h.user_name like '%${establishUser}%' or h.`name` like '%${establishUser}%'
		</if>
		<if test="receivingUser != null and receivingUser != ''">
			and i.user_name like '%${receivingUser}%' or i.`name` like '%${receivingUser}%'
		</if>
		<if test="status != null and status != ''">
			and a.status = #{status}
		</if>
		<if test="startReceivingDt != null and startReceivingDt != '' and endReceivingDt != null and endReceivingDt != ''">
			and DATE_FORMAT(a.receivingDt,'%Y-%m-%d') between #{startReceivingDt} and #{endReceivingDt}
		</if>
		ORDER BY a.establishDt desc
	</select>

	<!-- 新增 -->
	<insert id="add">
		insert into c_qh_wms_non_production_scrap_receipt_h_t
		(
			listNo,scrapType,sourceFactoryId,sourceLocationId,
			sourceDepartmentId,sourceProjectId,receivingFactoryId,receivingLocationId,
			establishUserId,establishDt,`status`,dis,
			viewMode
		)
		value
		(
			#{listNo},#{scrapType},#{sourceFactoryId},#{sourceLocationId},
			#{sourceDepartmentId},#{sourceProjectId},#{receivingFactoryId},#{receivingLocationId},
			#{establishUserId},now(),#{status},#{dis},
			#{viewMode}
		)
	</insert>

	<!-- 更新 -->
	<update id="update">
		update c_qh_wms_non_production_scrap_receipt_h_t
		<trim prefix="set" suffixOverrides=",">
			receivingFactoryId = #{receivingFactoryId},
			receivingLocationId = #{receivingLocationId},
			dis = #{dis},
			<if test="sourceFactoryId != null and sourceFactoryId != ''">
				sourceFactoryId = #{sourceFactoryId},
			</if>
			<if test="sourceLocationId != null and sourceLocationId != ''">
				sourceLocationId = #{sourceLocationId},
			</if>
			<if test="sourceDepartmentId != null and sourceDepartmentId != ''">
				sourceDepartmentId = #{sourceDepartmentId},
			</if>
			<if test="sourceProjectId != null and sourceProjectId != ''">
				sourceProjectId = #{sourceProjectId},
			</if>
			<if test="receivingUserId != null and receivingUserId != ''">
				receivingUserId = #{receivingUserId},
			</if>
			<if test="receivingDt != null and receivingDt != ''">
				receivingDt = now(),
			</if>
			<if test="status != null and status != ''">
				`status` = #{status},
			</if>
			<if test="viewMode != null and viewMode != ''">
				viewMode = #{viewMode},
			</if>
		</trim>
		where listNo = #{listNo}
	</update>
	
	<!-- 更新 -->
	<update id="updateAll">
		update c_qh_wms_non_production_scrap_receipt_h_t
		<trim prefix="set" suffixOverrides=",">
			<if test="dis != null and dis != ''">
				dis = #{dis},
			</if>
			<if test="receivingFactoryId != null and receivingFactoryId != ''">
				receivingFactoryId = #{receivingFactoryId},
			</if>
			<if test="receivingLocationId != null and receivingLocationId != ''">
				receivingLocationId = #{receivingLocationId},
			</if>
			<if test="sourceFactoryId != null and sourceFactoryId != ''">
				sourceFactoryId = #{sourceFactoryId},
			</if>
			<if test="sourceLocationId != null and sourceLocationId != ''">
				sourceLocationId = #{sourceLocationId},
			</if>
			<if test="sourceDepartmentId != null and sourceDepartmentId != ''">
				sourceDepartmentId = #{sourceDepartmentId},
			</if>
			<if test="sourceProjectId != null and sourceProjectId != ''">
				sourceProjectId = #{sourceProjectId},
			</if>
			<if test="receivingUserId != null and receivingUserId != ''">
				receivingUserId = #{receivingUserId},
			</if>
			<if test="receivingDt != null and receivingDt != ''">
				receivingDt = now(),
			</if>
			<if test="status != null and status != ''">
				`status` = #{status},
			</if>
			<if test="viewMode != null and viewMode != ''">
				viewMode = #{viewMode},
			</if>
		</trim>
		where listNo = #{listNo}
	</update>

	<!-- 查询R -->
	<select id="listR" resultType="com.alibaba.fastjson.JSONObject">
		SELECT
			a.*,
			b.MATERIAL_NAME as materialName,
			b.BOM_ID as materialNo
		FROM
			c_qh_wms_non_production_scrap_receipt_r_t a
			JOIN c_mes_jl_material_t b ON a.materialId = b.id
		WHERE 1 = 1
			<if test="id != null and id != ''">
				and a.id = #{id}
			</if>
			<if test="listNo != null and listNo != ''">
				and a.listNo = #{listNo}
			</if>
	</select>

	<!-- 新增R -->
	<insert id="addR">
		insert into c_qh_wms_non_production_scrap_receipt_r_t(listNo,materialId,number,unit)
		value(#{listNo},#{materialId},#{number},#{unit})
	</insert>

	<!-- 更新R -->
	<update id="updateR">
		update c_qh_wms_non_production_scrap_receipt_r_t
		<trim prefix="set" suffixOverrides=",">
			<if test="listNo != null and listNo != ''">
				listNo = #{listNo},
			</if>
			<if test="materialId != null and materialId != ''">
				materialId = #{materialId},
			</if>
			<if test="number != null and number != ''">
				number = #{number},
			</if>
			<if test="unit != null and unit != ''">
				unit = #{unit},
			</if>
		</trim>
		where id = #{id}
	</update>

	<!-- 删除R -->
	<delete id="deleteR">
		delete from c_qh_wms_non_production_scrap_receipt_r_t
		where id = #{id}
	</delete>

	<!-- 查询D -->
	<select id="listD" resultType="com.alibaba.fastjson.JSONObject">
		select * from c_qh_wms_non_production_scrap_receipt_d_t
		where 1 = 1
		<if test="rId != null and rId != ''">
			and rId = #{rId}
		</if>
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
	</select>

	<!-- 新增D -->
	<insert id="addD">
		insert into c_qh_wms_non_production_scrap_receipt_d_t(packingId,code,packingNumber,number,rId)
		value(#{packingId},#{code},#{packingNumber},#{number},#{rId})
	</insert>

	<!-- 更新D -->
	<update id="updateD">
		update c_qh_wms_non_production_scrap_receipt_d_t
		set
		packingNumber = #{packingNumber},
		number = #{number}
		where id = #{id}
	</update>

	<!-- 删除D -->
	<delete id="deleteD">
		delete from c_qh_wms_non_production_scrap_receipt_d_t
		where id = #{id}
	</delete>

	<!-- 通过行id删除D -->
	<delete id="deleteDByRId">
		delete from c_qh_wms_non_production_scrap_receipt_d_t
		where rId = #{rId}
	</delete>

	<!-- 查询需要过账的信息 -->
	<select id="queryTheInformationToBePosted" resultType="com.alibaba.fastjson.JSONObject">
		SELECT
			a.*,
			b.materialId,
			b.unit,
			c.MATERIAL_NAME AS materialName,
			c.BOM_ID AS materialNo
		FROM
			c_qh_wms_non_production_scrap_receipt_d_t a
			JOIN c_qh_wms_non_production_scrap_receipt_r_t b ON a.rId = b.id
			JOIN c_mes_jl_material_t c ON b.materialId = c.id
		WHERE
			b.listNo = #{listNo}
	</select>

	<!-- 分组查询库存 -->
	<select id="findStockGroupByMaterial" resultType="com.alibaba.fastjson.JSONObject">
		SELECT
			b.id,
			b.MATERIAL_NAME AS materialName 
		FROM
			c_qh_wms_stock_t a
			JOIN c_mes_jl_material_t b ON a.ItemNo = b.BOM_ID 
		WHERE
			a.factoryId = #{factoryId}
			AND a.locationId = #{locationId}
		GROUP BY
			b.id
	</select>


	<!-- type：实体类 id：在resultMap引用-->
	<resultMap type="com.alibaba.fastjson.JSONObject" id="rdMap">
		<!-- column：数据库查询出来的列  property：实体类属性的值 -->
		<result column="id" property="id"/>
		<result column="listNo" property="listNo"/>
		<result column="materialId" property="materialId"/>
		<result column="number" property="number"/>
		<result column="unit" property="unit"/>
		<result column="materialName" property="materialName"/>
		<result column="materialNo" property="materialNo"/>
		<!-- collection：一对多  property：实体类里的 ofType：实体类 -->
		<collection property="d" javaType="list" ofType="com.alibaba.fastjson.JSONObject">
			<result column="dId" property="id"/>
			<result column="packingId" property="packingId"/>
			<result column="code" property="code"/>
			<result column="packingNumber" property="packingNumber"/>
			<result column="num" property="number"/>
		</collection>
	</resultMap>
	<!-- 查询R跟D表数据 -->
	<select id="findRAndD" resultMap="rdMap">
		SELECT
			a.id,
			a.listNo,
			a.materialId,
			a.number,
			a.unit,
			b.id AS dId,
			b.packingId,
			b.`code`,
			b.packingNumber,
			b.number AS num,
			b.rId,
			c.MATERIAL_NAME AS materialName,
			c.BOM_ID AS materialNo
		FROM
			c_qh_wms_non_production_scrap_receipt_r_t a
			LEFT JOIN c_qh_wms_non_production_scrap_receipt_d_t b ON a.id = b.rId
			JOIN c_mes_jl_material_t c ON a.materialId = c.id
		WHERE a.listNo = #{listNo}
	</select>

</mapper>
